<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election verifier</title>
    <link rel="stylesheet" type="text/css" href="/vendor/franken-ui-0.0.12.min.css" />
  </head>
  <body>
    <div class="uk-container uk-container-xsmall uk-padding">
      <h1 class="uk-h1 uk-text-center">Belenios Election Verifier</h1>

      <div id="import" class="uk-card uk-card-body uk-width-medium uk-margin uk-margin-auto">
        <h3 class="uk-card-title">Import your .bel file</h3>

        <div class="js-upload" uk-form-custom>
          <input type="file" id="file" placeholder="Import your .bel file" />
          <button class="uk-button uk-button-default uk-margin-top" type="button" tabindex="-1">
            Import
          </button>
        </div>
      </div>

      <div id="spinner" class="uk-text-center uk-margin uk-hidden">
        <span uk-spinner="ratio: 4.5" class="uk-margin-auto"></span>
      </div>

      <div id="alerts"></div>

      <div id="actions" class="uk-hidden uk-margin">
        <button id="find-your-ballot" class="uk-button uk-button-default" type="button">Find your ballot</button>
        <button uk-toggle="target: #generate-ballot-modal" class="uk-button uk-button-default" type="button">Generate a ballot</button>
      </div>

      <ul uk-tab>
        <li><a href="#">Verifications</a></li>
        <li><a href="#">Election infos</a></li>
        <li><a href="#">Ballots</a></li>
      </ul>

      <!-- Tab Contents -->
      <ul class="uk-switcher uk-margin">
        <li>
          <h3 id="top"></h3>
          <div id="database"></div>
          <div id="setup"></div>
          <div id="ballots"></div>
          <div id="encryptedTally"></div>
          <div id="partialDecryptions"></div>
          <div id="result"></div>
        </li>
        <li>
          <div id="election-info">
          </div>
          <div id="election-results">
          </div>
        </li>
        <li id="election-ballots">
          Nothing here...
        </li>
      </ul>
    </div>

    <div class="uk-modal p-6" id="generate-ballot-modal" uk-modal>
      <div class="uk-modal-body uk-modal-dialog">
        <h2 class="uk-modal-title">Generate a ballot</h2>
        <form class="uk-form-stacked uk-margin">
          <div class="uk-margin">
            <label class="uk-form-label" for="generate-ballot-private-key">Private key</label>
            <div class="uk-form-controls">
              <input
              class="uk-input generate-ballot-input"
              id="generate-ballot-private-key"
              type="text"
              placeholder="Paste your private key"
              />
            </div>
          </div>
          <div id="generate-ballot-questions">
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="generate-ballot-ballot">Your ballot</label>
            <textarea
              id="generate-ballot-ballot"
              class="uk-textarea"
              rows="5"
              placeholder="Textarea"
              aria-label="Textarea"
              style="white-space: pre-wrap"
              readonly
              ></textarea>
          </div>
        </form>
        <button class="uk-modal-close uk-button uk-button-default" type="button">Close</button>
      </div>
    </div>

    <script type="text/template" id="election-info-template">
      <div class="uk-card uk-card-default uk-card-body uk-margin">
        <h3 class="uk-card-title"><%- name %></h3>
        <p><%- description %></p>
        <p>Election UUID: <%- uuid %></p>
        <p>Election fingerprint: <%- fingerprint %></p>
        <p>Number of ballots: <%- countBallots %></p>
      </div>
    </script>

    <script type="text/template" id="election-results-template">
      <div class="uk-card uk-card-default uk-card-body uk-margin">
        <h3 class="uk-card-title">Results</h3>
        <ul>
          <% for (let i = 0; i < questions.length; i++) { %>
            <table class="uk-table uk-table-divider">
              <h4><%- questions[i].question %></h4>
              <thead>
                <tr>
                  <th>Answer</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <% for (let j = 0; j < questions[i].answers.length; j++) { %>
                  <tr>
                    <td><%- questions[i].answers[j] %></td>
                    <td><%- result[i][j] %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } %>
        </ul>
      </div>
    </script>

    <script type="text/template" id="election-ballot-template">
      <div class="uk-card uk-card-default uk-card-body uk-margin">
        <h3 class="uk-card-title"><%- ballot.payloadHash %></h3>
      </div>
    </script>

    <script type="module" src="src/web.js"></script>
    <script type="module" src="/vendor/uikit.min.js.js"></script>
    <script type="module" src="/vendor/uikit-icons.min.js.js"></script>
  </body>
</html>
